<table>
  <tr>
    <th>
      <h2>Recent Blogs</h2>
    </th>
  </tr>
  <tbody>
    <% blogs.each do |blog| %>
    <tr>
     <td><%= link_to blog_path(blog.id) do %>
       <%= image_tag blog.get_image %>
     <% end %>
     </td>
     <td><%= link_to blog.blog_title,blog_path(blog.id) %><br>
     <%= blog.created_at.strftime('%b/%e/%Y') %></td>
     <td><%= link_to blog_blog_comments_path(blog) do %>
       <i class="fa-solid fa-comment-dots"></i>
     <% end %>
     </td>
     <td><%= blog.blog_comments.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>