<div>
  <%= image_tag @blog.get_image %>
  <p>Title: <%= @blog.blog_title %></p>
  <p>Caption: <%= @blog.caption %></p>
  <p>Date: <%= @blog.created_at.strftime('%b/%e/%Y') %></p>
  <% if @blog.user == current_user %>
    <%= link_to "Delete", blog_path(@blog), method: :delete %>
  <% end %>
</div>