<!-- ブログ詳細ﾍﾟｰｼﾞ-->

<div>
  <%= image_tag @blog.get_image %>
  <p>Title: <%= @blog.blog_title %></p>
  <p>Caption: <%= @blog.caption %></p>
  <p>Date: <%= @blog.created_at.strftime('%b/%e/%Y') %></p>
  <!--コメント数-->
  <p><%= render "blog_comments/count", blog: @blog %></p>

  <% if @blog.user == current_user %>
    <%= link_to "Delete", blog_path(@blog), method: :delete %>
  <% end %>
  <%= render 'likes/btn', blog: @blog %>
</div>

<!-- コメント送信フォーム-->

<div>
  <%= render "blog_comments/form", blog: @blog, blog_comment: @blog_comment %>
</div>

<!-- コメント一覧 -->

<div>
  <%= render "blog_comments/index", comments: @blog.blog_comments %>
</div>

